html, body, #root {
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: url('/cursor_default.png') 0 0, auto;
}

header {
    position: absolute;
    left: 1rem;
    top: 1rem;

    .game-clock {
        position: absolute;
        left: 64px;
    }
}