.dev-toolbar {
    position: fixed;
    bottom: 16px;
    right: 16px;
    display: flex;
    gap: 16px;
    padding: 10px 14px;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.08);    font-family: "JetBrains Mono", "Fira Code", monospace;
    border-radius: 8px;
    font-size: 12px;
  
    /* départ caché */
    opacity: 0;
    transform: translateY(100%) scale(0.95);
    pointer-events: none;
  
    /* transition pour apparition + bump */
    transition: 
      opacity 0.3s cubic-bezier(0.2, 1, 0.3, 1),
      transform 0.3s cubic-bezier(0.2, 1, 0.3, 1);
  }

  .dev-toolbar section{
    display: flex;
    gap: 4px;
  }
  
  .dev-toolbar.visible {
    opacity: 1;
    transform: translateY(0%) scale(1); /* petit bump */
    pointer-events: auto;
  }
  