.game-clock {
    position: relative;
    color: white;
    font-family: "JetBrains Mono", "Fira Code", monospace;
    font-weight: normal;
    font-size: 1.2rem;
    margin: 0;
    line-height: 1;
    z-index: 1000;
}


@media (max-width: 900px), (pointer: coarse) {
  .game-clock {
    font-size: 1rem;
    line-height: 1.1;
    text-align: center;
    align-self: center;
    padding-top: 10px;
  }
}
